<header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-xs-12 col-sm-8">
                    <h2>Identity Cloud Service Portal</h2>
                    <p style="padding:20px;"></p>
                    <p>Welcome to Oracle Identity Cloud Service Portal. It features user defined scenarios including User Registration,
                       Reporting, and many more!</p>
                </div>
                <div class="col-xs-12 col-sm-2">
                <p style="padding:20px;"></p>
                <img src="images/logo.png" class="img-responsive">
                </div>
                <div class="col-xs-12 col-sm-2">
                </div>
            </div>
        </div>
</header>

<div class="container" ng-controller="baseController">
        <div class="row row-content" ng-if="showUser">
            <div class="col-xs-12"> 
                 <div class="sidebar">
                    <ul class="navigation">
                        <li class="navigation-items"> <a ui-sref="app.reporting">Reporting</a></li>
                    </ul>
                </div>
            </div>
        </div>
</div>